.Footer{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(17, 17, 17);
}

.Footer-btn{
  background-color: transparent;
  border-radius: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Footer-btn.active svg{
  fill: url(#paint0_linear_82_225);
}

svg{
  width: 35px;
  height: 35px;
  color: #3D3C45;
}

.Search-svg{
  width: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 100%;
  background-color: #3D3C45;
}
